<h1>Powfinder</h1>
<h3><center>When you need to know where to go.</center></h3>

<p>Tired of looking for mountain weather conditions, but seeing only lake-level temps and wind?</p>

<p>  Powfinder get you access to current weather data where you want it.</p>
<p>Want to know what's happening with winds on Squaw's Sibera Lift? What's it like at Mt. Rose today?
  What about Kirkwood?</p>

<h4>Powfinder has you covered.</h4>
