<p id="notice"><%= notice %></p>

<h1>Stations</h1>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <!-- col-md-4   table-responsive-md -->
    <table class='table table-hover'>
      <thead>
        <tr scope='row'>
          <th scope='col'>Code</th>
          <th scope='col'>Location name</th>
        </tr>
      </thead>
      <tbody>
        <% @stations.each do |station| %>
          <tr scope='row'>
            <td><%= link_to station.code, station_path(station) %></td>
            <td><%= station.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Add New Station", new_station_path, {class: 'btn btn-primary btn-block'} %>
  </div>

</div>
