<p id="notice"><%= notice %></p>

<h1>Stations#index</h1>


<%= link_to "Add New Station", new_station_path %><br /><br />

<% @stations.each do |station| %>

  <span><%= link_to station.code, station_path(station) %>&nbsp;&nbsp;—&nbsp;&nbsp;<%= station.description %></span></br />

<% end %>
