<div class='stnCheckbox'>
  <div class='form-group checkbox '>
    <%= form_for(@user) do |f| %>
      <% @stations.each do |station| %>
      <div class='checkbox'>
        <%= check_box_tag "user[selection_ids][]", station.id, f.object.stations.include?(station), class: 'input checkbox' %>
        <%= station.description %>
      </div>
      <% end %>
    <%= submit_tag %>
    <% end %>
  </div>
</div>


<!--  collection_check_boxes -->
<!-- collection_check_boxes (station selection_ids, Station.all, :id, station.id) -->







<!-- check_box_tag "user[station_ids][]", station.id, f.object.stations.include?(station) -->
 <!-- f.submit " Choose ", class: "btn btn-primary" -->

<!-- check_box_tag :station_ids, station.id, @user.stations.include?(station), :name => 'user[station_ids][]'  -->
