<p id="notice"><%= notice %></p>


<div class='row selectionContainer '>
  <% if @forecasts %>

    <!-- <div class='col-sm-4'></div> -->
    <div class='col-sm-12 ForecastContainer'>
      <h1>Dashboard</h1>
      <%= render 'weatherDisplay' %>
    </div>
    <!-- <div class='col-sm-4'></div> -->

  <% end %>

</div>
