<p id="notice"><%= notice %></p>

<h2>Weather Dashboard</h2>
<h5 class='center'><%= current_user.email %></h5>
<div class='fluid-container selectionContainer '>
  <% if @forecasts %>
  <div class='row'>
    <div class='col-sm-4'></div>
    <div class='col-sm-4 ForecastContainer'>
          <%= render 'weatherDisplay' %>
    </div>
    <div class='col-sm-4'></div>
  </div>
  <% end %>

</div>
