<p id="notice"><%= notice %></p>

<div class='container'>

  <h1>Selections Dashboard</h1>
  <h3><%= current_user.email %></h3>
  <hr />

  <%= render 'stationList' %>



  <%= render 'weatherDisplay' %>


</div>
