.forecastBox{
  border: 1px solid black;
  margin: 15px;
  padding: 10px;
  min-width: 240px;
  min-height: 175px;
  max-width: 400px;
  font-size: 10px;
  // display: block flow;
  display: flex run-in;
}

.iconWindow{
  align-content: center;
  padding: 10px;
  padding-top: 0px;
  float:left;
  min-height: 150px;
  // width: 80px;
  background-color: #999999;
  align: center;

}

.forecastWindow{
  padding: 10px;
  padding-left: 30px;
  min-height: 150px;
  background-color: #e3e3e3;
  overflow: hidden;

}
