// Place all the styles related to the Selections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form .button:hover{
  background-color: #899ab1;
}

body{
  background-color: #4682B4; // 6565a9
}

.selectionContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  // width: 100%;
}

.forecastContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttonNav{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  // width: 100%;
}

.forecastBox{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid darkgrey;
  border-radius: 4px;
  background-color: lightgrey;
  margin-bottom: 10px;
  // width: 100%;
  // width: 260px;
  // flex-grow: 1;
}

.forecastBox .title{
  display: flex;
  flex-wrap: nowrap;
  // flex-direction: row;
  // align-items: flex-start;
  justify-content: space-between;
  background-color: #5b5b5b;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 5px;
  padding-left: 10px;
  width: 100%;
}

.item{
  margin-right: 20px;
  justify-content: space-between;
  font-size: small;
}

.title-addl{
  font-size: small;
  justify-content: space-around;
}

.info {
  margin-left: 10px;
  margin-top: 6px;
  height: 100%;
  // background-color: tan;
}

.tableScape {
  display: flex;
  flex-direction: row;

  // flex-flow: row nowrap;
  margin-top: 10px;
  // align-items: flex-end;
  height: 100%;
}

.forecastTable{
  padding-top: 0px;
  // padding-right:40px;
  vertical-align: baseline;
  // width: 60%;
  margin: 0 auto;
  flex-wrap: nowrap;
  align: right;
  font-size: small;

}

// table.borderless td, table.borderless th, table.borderless tr{
//     border: none;
// }
table.borderless>tbody>tr>td{
    border: none;
}
table.borderless>thead>tr>th{
    border: none;
}

table.borderless>tbody>tr>th{
    border: none;
}

table.bordeless>thead{
  border: none;
}

.icon{
  font-size: x-large;
}

.icon-humidity{
  font-size: medium;
}

.icon-snow {
  font-size: small;
}


.btnRemove{
  font-size: 9px;
  // color: #fff;
  margin: 6px;
  vertical-align: bottom;
}

.updateTime{
  font-size: 9px;
  text-align: right;
  vertical-align:text-bottom;
  margin: 3px;
  margin-right: 6px;
}

form .button-group-vertical {
  margin-bottom: 10px !important;
}


.list-group-item:hover {
  background-color: #eee;
}

.stn-button:hover{
  background-color: #595959;
}
