<div class='row'>
  <nav class='navbar navbar-default col-sm-6 col-sm-offset-2' role='navigation'>
        <ul class='nav navbar-nav center'>
           <li><%= link_to "Manage Stations", stations_path %></li>
           <li><%= link_to "Manage Users", users_path %></li>
        </ul>
  </nav>
</div>
